__pycache__
*.py[codz]
*.so
.egg-info/
dist/
build/
*.egg
.venv
venv
.env
.env.*
.pytest_cache
.coverage
htmlcov/
.tox/
.mypy_cache
.vscode
.idea
.git
.gitignore
*.md
!README.md
logs/
*.log
node_modules
out
.DS_Store

*.egg
