__pycache__
.env
.env.local
app.egg-info
*.pyc
.mypy_cache
.pytest_cache/
.ruff_cache/
.coverage
htmlcov
.cache
.venv

3.11.14/
afcsac/
.env
.env.*
dist/
security_keys/*.pem
!security_keys/private_dec.pem
!security_keys/public_key.pem
rs256keypair
*.pub